{% extends 'layouts/base.html' %}
{% import 'macros/dashboard_macros.html' as dashboard %}


{% block content %}
    <div class="container">
        {% if current_user.is_admin() %}
            <div id="admin-dashboard" class="list-group">
                <h3 class="list-group-item bg-dark text-white">བཀོལ་བདག་གྱི་ཚད་ལྡེབས།</h3>
                        {{ dashboard.dashboard_option('དེབ་བཀོད་བཀོལ་བདག', 'admin.registered_users',
                                        description='བཀོལ་བདག་གི་ཐོ་གཞུང་ལ་ལྟ་བཤེར་དང་དོ་དམ་བྱེད་པ།', icon='fa fa-users') }}
                        {{ dashboard.dashboard_option('བཀོལ་བདག་གསར་སྣོན།', 'admin.new_user',
                                        description='བཀོལ་བདག་གསར་པའི་ཐོ་གཞུང་གསར་བཟོ་བྱེད་པ།', icon='fa fa-user-plus') }}
                        {{ dashboard.dashboard_option('བཀོལ་བདག་གསར་པ་གདན་འདྲེན།', 'admin.invite_user',
                                        description='བཀོལ་བདག་གསར་པ་རང་ཉིད་ཀྱིས་ཐོ་གཞུང་གསར་པ་བཟོ་བཅུག་པ།',
                                        icon='fa fa-user-plus') }}

            </div>
        {% endif %}
        {{ dashboard.corpora_users(current_user, dashboard_corpora) }}
        {{ dashboard.control_lists_users(current_user, dashboard_control_lists) }}
    </div>
{% endblock %}