{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>ཕེ་ར་སྐད་མཛོད་སྙི་ཆས་ལ་ཕེབས་བསུ་ཞུ།</h1>
      <p>ཕེ་ར་སྐད་མཛོད་སྙི་ཆས་ངོ་སྤྲོད། སྙི་ཆས་འདིས་གཏུབ་ཟིན་པའི་ཐ་སྙད་དང་། མ་ཚིག ཚིག་གཤིས་དགར་ཟིན་པ་དག་ལ་ཞུ་དག་གཏོང་བྱེད་ཀྱི་སྙི་ཆས་ཤིག་ཡིན།</p>
      <p><a href="http://www.chartes.psl.eu">École Nationale des Chartes</a> སློབ་ཆེན་གྱིས་ཡར་རྒྱས་གཏོང་མུས་ཡིན་ལ། དེའི་ཚབ་ཨང་ནི་<a href="https://github.com/hipster-philology/pyrrha">github</a> ཡིག་སྒྲོམ་འདིར་ཕབ་ལེན་བྱ་རྒྱུ་ཡོད།</p>
        <p>ལུང་འདྲེན་ཚུལ་ནི་དྲ་ཚིགས་འདིར་གསལ། <a href="https://doi.org/10.5281/zenodo.2325427">Zenodo</a></p>
    </div>
{% endblock %}
